{% load product_tags %}
<form action="{% url 'filter' %}" method="get">
    <div class="shop__sidebar--widget widget__area d-none d-lg-block">
        <div class="single__widget widget__bg">
            <h2 class="widget__title h3">Categories</h2>
            <ul class="widget__categories--menu">
                {% for category in categories %}
                    <li class="widget__categories--menu__list">
                        <label class="widget__categories--menu__label d-flex align-items-center">
                            <input type="checkbox" name="category" value="{{ category.id }}">
                            <span class="widget__categories--menu__text">{{ category.name }}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {#        <div class="single__widget price__filter widget__bg">#}
        {#            <h2 class="widget__title h3">Filter By Price</h2>#}
        {#            <form class="price__filter--form" action="#">#}
        {#                <div class="price__filter--form__inner mb-15 d-flex align-items-center">#}
        {#                    <div class="price__filter--group">#}
        {#                        <label class="price__filter--label" for="Filter-Price-GTE2">From</label>#}
        {#                        <div class="price__filter--input border-radius-5 d-flex align-items-center">#}
        {#                            <span class="price__filter--currency">$</span>#}
        {#                            <label>#}
        {#                                <input class="price__filter--input__field border-0" name="filter.v.price.gte"#}
        {#                                       type="number" placeholder="0" min="0" max="250.00">#}
        {#                            </label>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="price__divider">#}
        {#                        <span>-</span>#}
        {#                    </div>#}
        {#                    <div class="price__filter--group">#}
        {#                        <label class="price__filter--label" for="Filter-Price-LTE2">To</label>#}
        {#                        <div class="price__filter--input border-radius-5 d-flex align-items-center">#}
        {#                            <span class="price__filter--currency">$</span>#}
        {#                            <label>#}
        {#                                <input class="price__filter--input__field border-0" name="filter.v.price.lte"#}
        {#                                       type="number" min="0" placeholder="250.00" max="250.00">#}
        {#                            </label>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <button class="price__filter--btn primary__btn" type="submit">Filter</button>#}
        {#            </form>#}
        {#        </div>#}
        <div class="single__widget widget__bg">
            <h2 class="widget__title h3">Brands</h2>
            <ul class="widget__tagcloud">
                {% for manufacturer in manufacturers %}
                    <li class="widget__categories--menu__list">
                        <label class="widget__categories--menu__label d-flex align-items-center">
                            <input type="checkbox" name="manufacturer" value="{{ manufacturer.id }}">
                            <span class="widget__categories--menu__text">{{ manufacturer.name }}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <button type="submit">Найти</button>
</form>